@model ID.ValueObjects.SurveyVO

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_SiteLayout.cshtml";
}

@section styles{
    @*<style>
        .voting {
            padding: 25px;
            display: inline-block;
            margin-top: -29px;
        }
    </style>*@
}

            <div  id="surveyInfo">

                <div class="College-logo-desc serveyDetails">
                    <h3>@Html.ActionLink(Model.SurveyQuestion + " ?", "", "")</h3>
                </div>

                <div class="row">
                    <div class="col-xs-12 col-md-6">
                        <a href="#"><img src='../../@Url.Content(Model.PicturePath)' class="img-responsive" alt="Survey Picture" /></a>
                    </div>
                    <div class="col-xs-12 col-md-6">
                        @Html.Hidden("SurveyId", Model.SurveyId, new { @class = "VotesResult" })
                        @Html.HiddenFor(model => model.PositiveCount)
                        @Html.HiddenFor(model => model.NegativeCount)
                        @Html.HiddenFor(model => model.NeutralCount)

                        <div class="voting" id="VoteSection_@Model.SurveyId">
                            <p>What do you think ?</p>
                            <label class="radio-inline Custom_Radio_Btn">
                                <input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1"><i></i>
                                <span>Yes</span>
                            </label>
                            <label class="radio-inline Custom_Radio_Btn">
                                <input type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2"><i></i>
                                <span>No</span>
                            </label>
                            <label class="radio-inline Custom_Radio_Btn">
                                <input type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3"><i></i>
                                <span>Not Sure</span>
                            </label>
                            <input type="button" value="Vote" class="search-btn" onclick="voteOnSurvey(this,@Model.SurveyId,'@Model.SurveyQuestion')" />
                        </div>
                        <div id="ErrorMessage" class="voting"></div>

                        <div class="College-logo-desc">
                            <div id="piechart_3d" style="width:100%; height: 200px;"></div>
                        </div>
                     
                    </div>

                    <div class="fb-comments" id="FBComment" data-numposts="5" width="100%"></div>
                </div>

            </div>

@section scripts{


    <div id="fb-root"></div>
    <script>

        $(function () {

            $('#FBComment').attr("data-href", window.location.href);
        })
    </script>
    <script>
        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.6&appId=1067471396645815";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>


    <script type="text/javascript" src="~/Scripts/loader.js"></script>
    <script type="text/javascript">
        $(function () {
            google.charts.load("current", { packages: ["corechart"] });
            google.charts.setOnLoadCallback(drawChart);
            function drawChart() {
                var PositiveCount = parseInt($('#PositiveCount').val());
                var NegativeCount = parseInt($('#NegativeCount').val());
                var NeutralCount = parseInt($('#NeutralCount').val());

                var data = google.visualization.arrayToDataTable([
                  ['Vote', 'Count Percentage'],
                  ['Yes', PositiveCount],
                  ['No', NegativeCount],
                  ['Not Sure', NeutralCount]
                ]);

                var options = {
                    //title: 'My Daily Activities',
                    //is3D: true,
                };

                var chart = new google.visualization.PieChart(document.getElementById('piechart_3d'));
                chart.draw(data, options);
            }
        });
    </script>

    <script src="~/Scripts/Application Script/SurveyScripts.js"></script>

}