@model ID.ValueObjects.SurveyVO

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_SurveyDetailsLayout.cshtml";
}


<div id="surveyInfo">

    <!-- Go to www.addthis.com/dashboard to customize your tools -->
    <div class="addthis_native_toolbox"></div>
    <hr />

    <div class="College-logo-desc serveyDetails">
        <h3><span>@Model.SurveyQuestion ?</span></h3>
    </div>

    <div class="row">
        <div class="col-xs-12 col-md-6">
            <a href="#"><img src='../../@Url.Content(Model.PicturePath)' class="img-responsive" alt="Survey Picture" /></a>
            <div class="rating rating2">
                <span>Avg. Rating :</span>
                <span class="star_rating_small">
                    <span class="star star-red star-xl">
                        @Html.Raw("<span style=\"width:" + Model.Rating / 5 * 100 + "%\"</span>")
                    </span>
                </span>
                <span>( from @Model.RatingCount ratings )</span>
            </div>
        </div>
        <div class="col-xs-12 col-md-6">
            @Html.Hidden("SurveyId", Model.SurveyId, new { @class = "VotesResult" })
            @foreach (var option in Model.SurveyOptions)
            {
                @Html.Hidden(option.OptionId.ToString())
            }

            @if (Model.StartDate <= DateTime.Now && Model.CloseDate >= DateTime.Now && !Model.IsVoted)
            {
                <div class="voting" id="VoteSection1_@Model.SurveyId">
                    @foreach (var itemOption in Model.SurveyOptions)
                    {
                        <label class="radio-inline Custom_Radio_Btn">
                            <input type="radio" name="UserVote" id="@itemOption.OptionName" value="@itemOption.Id"><i></i>
                            <span>@itemOption.OptionName</span>
                        </label>
                    }
                    <input type="button" value="Vote" class="search-btn" onclick="voteOnSurvey(this,@Model.SurveyId,'@Model.SurveyQuestion')" />
                    <div id="ErrorMessage" class="voting"></div>
                </div>
            }
            else
            {

                <div Id="VoteSection2_@Model.SurveyId">
                    <div class="College-logo-desc">
                        <div id="container" style="height: 325px; max-width: 450px; margin: 0 auto"></div>
                    </div>
                </div>
            }
        </div>

        <div class="fb-comments" id="FBComment" data-numposts="5" width="100%"></div>

        <div class="row">
            <div class="col-md-12">
                <label>Poeple also viewed</label>
            </div>
            <div class="col-md-12">
                @foreach (var survey in ViewBag.PeopleViewedSurvey1)
                {

                    <div class="col-md-4">
                        <a href="javascript:void(0);" onclick='viewSurveyDetials("@survey.SurveyId","@survey.SurveyQuestion")'><img src='../../@Url.Content(survey.PicturePath)' class="img-responsive" alt="Survey Picture" /></a>
                        <label>@survey.SurveyQuestion</label>
                    </div>
                }
            </div>
            <div class="col-md-12">
                @foreach (var survey in ViewBag.PeopleViewedSurvey2)
                {

                    <div class="col-md-4">
                        <a href="javascript:void(0);" onclick='viewSurveyDetials("@survey.SurveyId","@survey.SurveyQuestion")'><img src='../../@Url.Content(survey.PicturePath)' class="img-responsive" alt="Survey Picture" /></a>
                        <label>@survey.SurveyQuestion</label>
                    </div>
                }
            </div>
            <div class="col-md-12">
                @foreach (var survey in ViewBag.PeopleViewedSurvey3)
                {

                    <div class="col-md-4">
                        <a href="javascript:void(0);" onclick='viewSurveyDetials("@survey.SurveyId","@survey.SurveyQuestion")'><img src='../../@Url.Content(survey.PicturePath)' class="img-responsive" alt="Survey Picture" /></a>
                        <label>@survey.SurveyQuestion</label>
                    </div>
                }
            </div>
        </div>
    </div>

</div>


@section scripts{


    <div id="fb-root"></div>
    <script>

        $(function () {

            $('#FBComment').attr("data-href", window.location.href);
        })
    </script>
    <script>
        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.6&appId=1067471396645815";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>


    <script type="text/javascript" src="~/Scripts/loader.js"></script>
    <script src="~/Scripts/highcharts.js" type="text/javascript"></script>
    @*<script src="~/Scripts/exporting.js" type="text/javascript"></script>*@
    <script type="text/javascript">
        $(function () {
            $('#container').highcharts({
                chart: {
                    plotBackgroundColor: null,
                    plotBorderWidth: null,
                    plotShadow: false,
                    type: 'pie'
                },
                title: {
                    text: ''
                },
                tooltip: {
                    pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
                },
                plotOptions: {
                    //pie: {
                    //    allowPointSelect: true,
                    //    cursor: 'pointer',
                    //    dataLabels: {
                    //        enabled: false
                    //    },
                    //    showInLegend: true
                    //}


                    pie: {
                        dataLabels: {
                            enabled: true,
                            distance: -50,
                            style: {
                                fontWeight: 'bold',
                                color: 'white',
                                textShadow: '0px 1px 2px black'
                            }
                        },
                        //startAngle: -90,
                        //endAngle: 90,
                        //center: ['50%', '75%']
                        showInLegend: true
                    }
                },
                series: [{
                    name: 'Vote',
                    colorByPoint: true,
                    data: @Html.Raw(ViewBag.JsonResult)
                    }]
            });
        });

    </script>

    <script src="~/Scripts/Application Script/SurveyScripts.js"></script>


}
